@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
// veribls
$textColor: #1e1e1e;
$themeColor: #ff7101;
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: $textColor;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	a,
	button {
		transition: all 0.4s ease-in-out 0s;
		text-decoration: none;
		color: $textColor;
		cursor: pointer;
		&:hover {
			color: $themeColor;
		}
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 0;
		margin-bottom: 10px;
		color: $textColor;
	}
	div {
		box-sizing: border-box;
	}
}
.logo {
	display: inline-block;
	img {
		height: 60px;
	}
}
.header_area {
	padding: 10px 0px;
	width: 1170px;
	margin: 0px auto;
	box-sizing: border-box;
	@media (max-width: 1200px) {
		width: 100%;
		padding: 10px 15px;
	}
}
.hero_area {
	padding: 50px 0px;
	background: #fafafa;
	text-align: center;
	@media (max-width: 767px) {
		padding: 40px 15px;
	}
	h1 {
		font-size: 30px;
		margin-bottom: 20px;
	}
	p {
		font-size: 16px;
	}
}
.quiz_area {
	padding: 70px 0;
	width: 600px;
	margin: 0px auto;
	min-height: 410px;
	@media (max-width: 767px) {
		width: 100%;
		padding: 50px 15px;
	}
}
.quiz_form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 30px;
	.input_field {
		width: calc(100% - 150px);
	}
	input {
		width: 100%;
		height: 45px;
		background: #fff;
		border: 1px solid #e5e5e5;
		border-radius: 40px;
		transition: all 0.4s ease-in-out 0s;
		padding: 0px 15px 0px 20px;
		box-sizing: border-box;

		&.error {
			border-color: red;
		}
		&:focus {
			outline: none;
			border-color: $themeColor;
		}
	}
	#error_message {
		color: red;
		margin-left: 20px;
	}
	button {
		width: 140px;
		height: 45px;
		background: green;
		color: #fff;
		border: 2px solid green;
		font-size: 16px;
		font-weight: 500;
		border-radius: 45px;
		&:focus {
			outline: none;
		}
		&:hover {
			color: green;
			background: transparent;
		}
	}
}
.quiz_ansr-list {
	li {
		line-height: 28px;
		position: relative;
		[type='radio']:checked,
		[type='radio']:not(:checked) {
			position: absolute;
			left: -9999px;
		}
		[type='radio']:checked + label,
		[type='radio']:not(:checked) + label {
			position: relative;
			padding-left: 30px;
			cursor: pointer;
			line-height: 20px;
			display: inline-block;
			color: $textColor;
			box-sizing: border-box;
			font-size: 13px;
		}
		[type='radio']:checked + label:before,
		[type='radio']:not(:checked) + label:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 20px;
			height: 20px;
			border: 2px solid #e5e5e5;
			border-radius: 100%;
			background: #fff;
			transition: all 0.4s ease-in-out 0s;
			box-sizing: border-box;
		}
		[type='radio']:checked + label:before {
			border-color: $themeColor;
		}
		[type='radio']:checked + label:after,
		[type='radio']:not(:checked) + label:after {
			content: '';
			width: 12px;
			height: 12px;
			background: $themeColor;
			position: absolute;
			top: 4px;
			left: 4px;
			border-radius: 100%;
			transition: all 0.4s ease-in-out 0s;
		}
		[type='radio']:not(:checked) + label:after {
			opacity: 0;
			-webkit-transform: scale(0);
			transform: scale(0);
		}
		[type='radio']:checked + label:after {
			opacity: 1;
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	}
}
.quiz_wrap {
	padding: 20px;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
	background: #fff;
	margin-bottom: 10px;
	box-sizing: border-box;
	h4 {
		display: flex;
		align-items: center;
		.label {
			width: 20px;
			height: 20px;
			border: 2px solid $textColor;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			font-size: 12px;
			margin-right: 10px;
		}
	}
}
.start_quize-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.result_card {
	min-height: 70px;
	min-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	color: #fff;
	border-radius: 4px;
	margin-bottom: 15px;
}
.bg-success {
	background: green;
}
.bg-warning {
	background: #ff7101;
}
.bg-error {
	background: red;
}
.submit_btn {
	min-height: 35px;
	min-width: 120px;
	background: $themeColor;
	color: #fff;
	border: 2px solid $themeColor;
	border-radius: 3px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	&:hover {
		background: transparent;
		color: $themeColor;
	}
}
.scroll_up {
	position: fixed;
	right: 10px;
	bottom: 10px;
	min-width: 35px;
	min-height: 35px;
	background: $themeColor;
	color: #fff;
	border: 2px solid $themeColor;
	border-radius: 3px;
	&:focus {
		outline: none;
	}
	&:hover {
		background: transparent;
		color: $themeColor;
	}
}
.student_area {
	width: 600px;
	margin: 0px auto;
	padding: 50px 0;
	@media (max-width: 767px) {
		width: 100%;
		padding: 50px 15px;
	}
}
.student_title {
	text-align: center;
}
.student_items {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}
.student_item {
	box-sizing: border-box;
	padding: 15px;
	width: 50%;
	@media (max-width: 767px) {
		width: 100%;
	}
}
.student_wrap {
	position: relative;
	line-height: 0px;
	img {
		width: 100%;
		height: 300px;
		object-fit: cover;
	}
	.student_content {
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 15px;
		background: rgba(0, 0, 0, 0.5);
		width: 100%;
		text-align: center;
		line-height: 24px;
		transition: all 0.4s ease-in-out 0s;
		transform: scaleY(0);
		visibility: hidden;
		opacity: 0;
		transform-origin: bottom;
		h4 {
			margin-bottom: 0;
			a {
				font-size: 18px;
				color: #fff;
				display: inline-block;
				&:hover {
					color: $themeColor;
				}
			}
		}
		span {
			color: #fff;
		}
	}
	&:hover {
		.student_content {
			visibility: visible;
			opacity: 1;
			transform: scaleY(1);
		}
	}
}
.studnt_details_wrap {
	margin-top: 30px;
	img {
		width: 100%;
	}
	h4 {
		font-size: 24px;
		margin-bottom: 3px;
		margin-top: 15px;
	}
	span {
		display: block;
		font-size: 16px;
	}
}
.footer_area {
	background: $textColor;
	padding: 20px 15px;
}
.footer_menu {
	display: flex;
	align-items: center;
	justify-content: center;
	li {
		margin-right: 25px;
		a {
			color: #fff;
			&:hover {
				color: $themeColor;
			}
		}
		&:last-child {
			margin-right: 0;
		}
	}
}
